body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 20px;
}

#output {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
h1 {
  text-align: center;
}
.method {
  width: 48%;
  background: white;
  padding: 15px;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #999;
}
